<div class="mt-5">
    <h3>My All Course</h3>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name Course</th>
            <th scope="col">Level</th>
            <th scope="col" colspan="2">Date Create</th>
            </tr>
        </thead>
        <tbody>
            {{#each blog}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td class="d-flex">
                <a href="/courses/{{this._id}}/edit" class="btn btn-link">Update</a>
                <a href="/courses/{{this._id}}" class="btn btn-link">Delete</a>
            </td>
            </tr>
           {{/each}}
        </tbody>
    </table>
</div>